.slider__container-outer {
  overflow: hidden;
  border: 1px solid blue;
  margin-top: 50px;
}

.slider__container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.7s ease-in-out;
}

.slider__item {
  width: 100%;
  flex-shrink: 0;
}
.container {
  width: 1116px;
  margin: 0 auto;
}
.slider__move-button {
  margin-top: 10px;
}
.slider__progress-dot {
  margin-top: 10px;
}
.slider__dot {
  margin-right: 5px;
}
